<html lang="en">

<header>
    <% if (!username) { %>
        <p>To register a login --> -> <a href="/urls/register">click here</a></p>
    <% } else { %>
</header>
    <body>
    <h1> Welcome <%= username %> !! <form action="/urls/logoff" method="POST"></h1>
    <p> If you want to logoff: <input type="submit" value="Logoff"></p>
    </form>
    <% } %>
    </body>
</html>