<html lang="en">


<header>
    <p>Please, type your information</p>
</header>

<body>
    <form action="/urls/login/acess" method="POST">
    <p><input type="email" name="email" placeholder="email" style="width: 200px"></p>

    <form action="/urls/login/acess" method="POST">
    <p><input id="password" type="password" name="password" placeholder="password" style="width: 200px"></p>

    <p><input type="submit" value="Log-in">
    </form>

    <a href="/urls/register"><input type="submit" value="REGISTER"></a></p>

</body>
</html>