<!DOCTYPE html>

<html lang="en">

<head>
    <title>TinyApp</title>
</head>

<body>
    <h1>
        Shorted Link:
    </h1>
    <p>
        The link for <b><%= urls[shortURL] %></b> is now: <b><l>tinyapp/<%= shortURL %></b></l>
    </p>
</body>
</html>