<!DOCTYPE html>

<html lang="en">

<% include partials/_header %>

<head>
    <title>TinyApp</title>
</head>

<body>
    <h1> Shorted links: </h1>
    <ul>
        <% for (urlFound in urls) { %>
            <li>
                <b><%= urls[urlFound] %></b> is now: <b><i>tinyapp/<%= urlFound %></i></b>
                <form method="POST" action="/urls/edit/<%= urlFound %>"><input type="submit" value="Edit"></form>
                <form method="POST" action="/urls/delete/<%= urlFound %>"><input type="submit" value="Delete"></form>
            </li>
            <% } %>
    </ul>
    <p>If you want to create a new link -> <a href="/urls/new">click here</a></p>
</body>

</html>