<!DOCTYPE html>

<html lang="en">

<head>
    <title>TinyApp</title>
</head>

<body>
    <h2>Sorry but we can`t process your login</h2>
    <p><a href="/urls/register">click here</a> to go back for register</p>
    <p>or <a href="/urls">click here</a> to go back to the main page</p>
</body>

</html>
    