<!DOCTYPE html>

<html lang="en">

<head>
    <title>TinyApp</title>
</head>

<body>
    <h1>
        SHORTED LINK
    </h1>
    <h2>
        <%= ("The link " + urls[shortURL] + " is now: " + shortURL) %>
    </h2>
</body>

</html>